<nav class="navbar navbar-inverse navbar-fiexed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Commodity Trace</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">黑旗</a></li>
        <li><a href="#">黑楼</a></li>
        <li><a href="#">黑暗剑</a></li>
      </ul>
      <app-user></app-user>
    </div>
  </div>
</nav>
